[submodule "public"]
	path = public
	url = git@github.com:jimmylin212/jimmylin212.github.io.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = git@github.com:halogenica/beautifulhugo.git
