[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:digitalcraftsman/hugo-cactus-theme.git
[submodule "public"]
	path = public
	url = git@github.com:jimmylin212/jimmylin212.github.io.git
